*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
      background-color: #EEEEEE
}
.card {
  width: 15rem; /* Ancho de la tarjeta */
  margin: 1rem; /* Espacio entre las tarjetas */
  border-radius: 30px; /* Mantén el borde redondeado */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; /* Mantén la sombra */
}

.card-img-top {
  width: 100%; /* Hace que la imagen cubra horizontalmente el contenedor */
  height: auto; /* Mantiene la relación de aspecto original vertical */
  border-radius: 50px; /* Mantén el borde redondeado */
  padding: 20px; /* Mantén el relleno */
}

.card-body{
  padding: 25px;
  margin-top: -15px;
}
.btn-primary{
  border-radius: 50px;
  width: auto;
  background-color: #F06166;
  border-color: #F06166;




}
.btn-primary:hover{
  background-color: rgb(88, 0, 0);
  border: none;
}
h3,h5{
  color: #F06166;
}
.text-start .
{
  color: #FF0000;
}

.wrapper-progressBar {
  width: 100%
}

.progressBar {
}

.progressBar li {
  list-style-type: none;
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
}

.progressBar li:before {
  content: " ";
  line-height: 30px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  background-color: white
}

.progressBar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #dddddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressBar li:first-child:after {
  content: none;
}

.progressBar li.active {
  color: #F06166;
}

.progressBar li.active:before {
  border-color: #F06166;
  background-color: #F06166;
}

.progressBar .active:after {
  background-color: #F06166;
}

.progressBar {
  display: flex;
  justify-content: space-between;
}

.progressBar .nav-item {
  flex-grow: 1;
  text-align: center;
  padding: 0;
}

.progressBar .nav-link {
  border: none;
  background-color: transparent;
  color: #333;
  font-weight: bold;
  border-radius: 0;
  transition: background-color 0.3s;
  padding: 10px 20px;
}

/* .progressBar .nav-link.active.actual{
  background-color: #000000;
  color: #fff;
} */

.progressBar .nav-item.active.actual .nav-link {
  background-color: #000000;
  color: #fff;
}
.progressBar .nav-link:focus {
  outline: none;
}

.card.selected {
  background-color: #FFB3B0; /* Cambia el color de fondo al rojo */
  color: white; /* Cambia el color de texto a blanco */
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px; /* Agrega sombra */
  border: 2px solid #FFB3B0; /* Agrega borde */

}

h3 .card.selected{
  color: white;
}
.list-group-item:hover {
  background-color: #F06166;  /* Cambia el color de fondo a rojo cuando el ratón pasa por encima */
  cursor: pointer;  /* Cambia el cursor a una mano para indicar que el elemento es interactivo */
  color: white; /* Cambia el color de texto a blanco */
}

/* Estilos para los elementos desactivados */
.disabled-item {
  background-color: rgb(207, 206, 206) !important;
  cursor: not-allowed;
}
.vertical-divider {
  height: 80%;
  width: 1px;
  background-color: #29619a; /* Color de borde predeterminado de Bootstrap */
  margin-left: 5px;
  margin-right: 5px;
}
.error-input {
  border: 1px solid red !important;
}
.bottom-sticky {
  position: fixed; /* Posicionamiento fijo respecto a la ventana del navegador */
  bottom: 0;       /* Alineado al fondo de la ventana del navegador */
  left: 0;         /* Alineado a la izquierda */
  right: 0;        /* Alineado a la derecha, garantiza que se extienda a lo ancho de la ventana */
  z-index: 1000;   /* z-index alto para asegurarnos de que aparezca por encima de otros elementos */
}
/* Estilo para los enlaces de las pestañas que están activos y seleccionados */

